.mensajeBienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: linear-gradient(#000000, #000000);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0 auto;
  }